@import "tailwindcss";


@theme {
    --color-primary: #64FFDA;
    --color-secondary: #112240;
    --color-tertiary: #8892B0;
    --color-neutral: #0A192F;
    --color-primary-accent: #112240;
    --color-secondary-accent: #64FFDA;
}

.btn {
    @apply py-4 px-10 rounded-md inline-block;
}

.btn-small {
    @apply py-2.5 px-6 rounded-md inline-block;
}

.bg-cloud {
    background-image: url('../assets/cloud-data-stream.png');
    background-size: cover;
    background-position: center;
}

.title {
    @apply md:text-5xl font-bold text-3xl;
}

.subtitle {
    @apply md:text-3xl text-xl;
}

.text {
    @apply md:text-lg text-base
}