---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="px-8 py-32">
    <h1 class="text-white text-7xl mb-6">
      Hablemos de <span class="text-primary">Infraestructura.</span>
    </h1>
    <p class="text-tertiary w-2/3">
      Estamos listos para escalar tu visión técnica con soluciones de nube de
      alto rendimiento. Ponte en contacto con nuestro equipo de ingeniería.
    </p>
  </div>
  <div class="px-8 max-w-5xl mx-auto">
    <div class="grid grid-cols-3 gap-16">
      <div class="col-span-2">
        <form class="grid grid-cols-2 gap-8">
          <div class="flex flex-col">
            <label for="name" class="text-white mb-2">Nombre Completo</label>
            <input
              type="text"
              id="name"
              placeholder="Ej. Alex Rivera"
              class="bg-dark text-tertiary placeholder:text-tertiary rounded-lg p-4 bg-neutral"
            />
          </div>
          <div class="flex flex-col">
            <label for="email" class="text-white mb-2">Correo Electrónico</label
            >
            <input
              type="email"
              id="email"
              placeholder="Ej. alex@rivera.com"
              class="bg-dark text-tertiary placeholder:text-tertiary rounded-lg p-4 bg-neutral"
            />
          </div>
          <div class="col-span-2 flex flex-col">
            <label for="subject" class="text-white mb-2">Asunto</label>
            <input
              type="text"
              id="subject"
              placeholder="Ej. Consulta sobre servicios"
              class="bg-dark text-tertiary placeholder:text-tertiary rounded-lg p-4 bg-neutral"
            />
          </div>
          <div class="col-span-2 flex flex-col">
            <label for="message" class="text-white mb-2">Mensaje</label>
            <textarea
              id="message"
              placeholder="Cuéntanos sobre tu proyecto..."
              class="bg-dark text-tertiary placeholder:text-tertiary rounded-lg p-4 bg-neutral"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn bg-primary text-primary-accent col-span-2"
            >Enviar Mensaje</button
          >
        </form>
      </div>
      <div>
        <div class="mb-6">
          <h2 class="text-lg text-white">Oficina Central</h2>
          <p class="text-tertiary">
            Torre Tecnológica Alpha, Nivel 42 Distrito de Innovación, San
            Salvador
          </p>
        </div>
        <div>
          <h2 class="text-lg text-white">Canales Directos</h2>
          <p class="text-tertiary">Soporte: support@stratoscloud.io</p>
          <p class="text-tertiary">Tel: +503 2200-4400</p>
        </div>
      </div>
    </div>
  </div>
</Layout>
