<header class="bg-neutral text-white p-4" >
    <h1 class="text-3xl">
       StratosCloud
    </h1>

    <nav>
        <ul class="gap-4">
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Nosotros</a></li>
            <li><a href="/contact">Contactanos</a></li>
        </ul>
    </nav>
    <a href="/contact" class="bg-primary text-neutral hover:bg-tertiary  btn-small">Solicitar Cotización</a>
</header>