<div class="px-8 py-48">
  <h2 class="text-white text-8xl font-extrabold">
    Infrastructura<br />
    <span class="text-primary">Cloud de <br />Próxima</span><br />
    Generación
  </h2>
  <p class="text-tertiary text-2xl mt-8">
    Impulsa tu negocio con soluciones de nube escalables,<br />
    seguras y optimizadas para el rendimiento extremo.<br />
    Diseñamos el futuro de tu infraestructura digital.
  </p>
  <div class="mt-8">
    <a href="" class="btn bg-primary text-primary-accent"
      >Explora Nuestros Servicios</a
    >
    <a href="" class="btn bg-neutral text-secondary-accent">Saber Más</a>
  </div>
</div>
